@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

@font-face {
  font-family: GreycliffCF;
  src: url('/public/fonts/GreycliffCF-Regular.otf');
}

@font-face {
  font-family: HaskoyRegular;
  src: url('/public/fonts/Haskoy-Regular.otf');
}

:root {
  --white: #FFFFFE;
  --light-grey-1: #EFF0F3;
  --light-grey-2: #E4E5E9;
  --grey: #C0C0C0;
  --dark-grey: #9A9494;
  --black: #2B2C34;
  --blue: #6246EA;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans';
  color: var(--black);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.heading-1 {
  font-size: 4rem;
  font-weight: 700;
}

.subheading-1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.subheading-2 {
  font-size: 1.25rem;
  font-weight: 700;
}

.paragraph-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.paragraph-2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.paragraph-3 {
  font-size: 1rem;
  font-weight: 600;
}

.paragraph-4 {
  font-size: 0.875rem;
  font-weight: 400;
}